.messages-container {
  height: 70vh;
  overflow-y: scroll;
  background-color: #fff;
  margin-top: 100px;
  border-radius: 5px;
}

.my-message {
  background-color: rgba(25, 20, 76, 255);
  margin-left: auto;
}

.received-message {
  background-color: #f4648c;
  margin-right: auto;
}

body {
  background-color: rgba(25, 20, 76, 255);
}

.ui button {
  background-color: #f4648c !important;
  color: #fff !important;
}

.ui input {
  margin-top: 15px !important;
  height: 10vh;
}

::-webkit-scrollbar {
  background: #f4648c;
}
